.menu-container {
  position: relative;
  display: inline-block;
}

.menu-icon {
  cursor: pointer;
  font-size: 20px;
}

.context-menu {
  position: absolute;
  right: 5px;
  top: -60px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 2000;
}

.context-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu li {
  padding: 8px 12px;
  cursor: pointer;
}

.context-menu li:hover {
  background-color: #f1f1f1;
}
