* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #f0f0f0;
}

ol,
ul {
  list-style: none;
}
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.btn-primary {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #ffc107;
  border: 1px solid #ffc107;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary:hover {
  background-color: #e0a800;
  border-color: #d39e00;
  color: #212529;
  text-decoration: none;
}

.btn-primary:focus,
.btn-primary:active {
  background-color: #eaecfe;
  border-color: #eaecfe;
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
  outline: none;
}

.btn-secondary {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #eaecfe;
  border: 1px solid #eaecfe;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-secondary:hover {
  background-color: #eaecfe;
  border-color: #eaecfe;
  color: #212529;
  text-decoration: none;
}

.btn-secondary:focus,
.btn-secondary:active {
  background-color: #eaecfe;
  border-color: #eaecfe;
  box-shadow: 0 0 0 0.2rem rgba(177, 187, 244, 0.5);
  outline: none;
}
